@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.name {
    font-family: 'Righteous', cursive;
}
.about-section {
    margin-top: -30px;
    text-align: center;
    height: 500px;
}
.about-text-container {
    margin-left: 8%;
    width: 40%;
}
.profile-img {
    text-align: center;
}

a {
    padding: 3px;
}

.intro-text {
    color: aliceblue;
}
.links {
    text-align: center;
    margin: 90px;
    padding: 2px;
}

    
    

.link {
    size: 3rem;
    padding: 2px;
}
